@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply leading-relaxed;
  }
  body {
    @apply font-Poppins;
  }

  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .detail-side {
    @apply text-offDetailText hover:text-onDetailText;
  }

  .tag-lp {
    @apply font-bold text-sm text-onDetailText;
  }

  .h1-section-lp {
    @apply font-bold text-base text-primaryText;
  }
  .h2-section-lp {
    @apply font-bold text-sm text-primaryText;
  }

  .li-lp {
    @apply list-none py-2;
  }
  .metodeBayar-active {
    @apply border-x border-t outline-none shadow-[0px_-15px_90px_10px_rgba(130,130,130,0.23)];
  }
}
